@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  margin: 1em 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}

th, td {
  border: 1.7px solid rgb(17, 15, 15);
  padding: 5px;
  text-align: left;
  background: rgb(187, 205, 244);
  border-collapse: collapse;
}

ul, ol {
  margin: 1em 0;
  padding-left: 40px;
}

li {
  list-style-type: disc;
}

a {
  color: #0000ee;
}

pre, code {
  overflow-x: auto;
  background-color: rgb(35, 32, 32);
  padding: 5px;
  font-size: 14px;
  line-height: 1.6;
  color: rgb(201, 141, 1);
  font-style: italic;
  max-width: 70vw;
}

button {
  background: #000;
  color: white;
  padding: 6px;
  border-radius: 5px;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  color: whitesmoke;
  transform: translate(-50%, -50%);
  
}

dialog::backdrop {
  background: rgba(205, 0, 0, 0.6);
}


@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .ham {
    display: block;
  }
  .main-cont {
    margin: 0;
    min-width: 90vw;
  }
  pre {
    transform:  translateX(-50%);
    position: relative;
    left: 50%;
    font-size: 14px;
  }

  .footer {
    flex-direction: column;
    gap: 50px;
    padding-left: 50px;
 }
}




@media screen and (min-width: 769px) {
  #hamburger {
    display: none;
  }
  .navsm {
    display: none;
  }
  .main-cont {
    max-width: 650px;
  }

}